<ul class="post-list">
  $for(posts)$
    <li>
      <a class="post-list__title" href="$url$">$title$</a> - <date
      class="post-list__date" pubdate datetime="$date$">$date$</date>
    </li>
  $endfor$
</ul>
