<article class="article">
  <header class="article__header">
      Posted on <date class="article__date" pubdate
      datetime="$date$">$date$</date>
      $if(author)$
          by <a class="article__author" rel="author" href="/">$author$</a>
      $endif$
  </header>
  <div class="article__content">
    $body$
  </div>
</article>
