@charset "UTF-8";
/** Initialise fonts **/
@font-face {
    font-family: "Cabin";
    font-weight: 400;
    font-style: normal;
    src: local("Cabin Regular"), url("/static/fonts/cabin/cabin-regular.woff2") format("woff2"), url("/static/fonts/cabin/cabin-regular.woff") format("woff");
}

@font-face {
    font-family: "Cabin";
    font-weight: 400;
    font-style: italic;
    src: local("Cabin Italic"), url("/static/fonts/cabin/cabin-italic.woff2") format("woff2"), url("/static/fonts/cabin/cabin-italic.woff") format("woff");
}

@font-face {
    font-family: "Cabin";
    font-weight: 600;
    font-style: normal;
    src: local("Cabin Bold"), url("/static/fonts/cabin/cabin-bold.woff2") format("woff2"), url("/static/fonts/cabin/cabin-bold.woff") format("woff");
}

@font-face {
    font-family: "Cabin";
    font-weight: 600;
    font-style: italic;
    src: local("Cabin Bold Italic"), url("/static/fonts/cabin/cabin-bold-italic.woff2") format("woff2"), url("/static/fonts/cabin/cabin-bold-italic.woff") format("woff");
}

@font-face {
    font-family: "Hack";
    font-weight: 400;
    font-style: normal;
    src: local("Hack Regular"), url("/static/fonts/hack/hack-regular.woff2") format("woff2"), url("/static/fonts/hack/hack-regular.woff") format("woff");
}

/** Global **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** html and body tags **/
.default {
    font-size: 62.5%;
}

.body {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem 0;
    background: #000;
}

/** Header **/
.header {
    text-align: center;
    margin: 4rem auto 2rem;
}

.header-title__link {
    font: 400 7rem/7.5rem Cabin, Helvetica, sans-serif;
    color: #cc0000;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.header-title__link:hover {
    color: #ef2929;
}

/** Navigation **/
.nav {
    margin: 2rem auto;
}

.nav__link {
    font: 400 2.2rem Cabin, Helvetica, sans-serif;
    color: #d3d7cf;
    margin: 0 1.5rem;
    text-decoration: none;
}

.nav__link:hover {
    color: #eeeeec;
}

/** Footer **/
.footer {
    font: 400 1.5rem Cabin, Helvetica, sans-serif;
    color: #555;
    text-align: center;
    margin: 10rem auto 3rem;
}

.footer__link {
    font: 400 2rem Cabin, Helvetica, sans-serif;
    color: #739fcf;
    text-decoration: none;
    border-bottom: 0.1rem solid;
    padding: 0 0 0.1rem 0;
    font-size: 1.5rem;
}

.footer__link:hover {
    color: #34e2e2;
}

/** Main content
    Supply a small set of defaults, some for Markdown formatting **/
.main {
    font: 400 2rem/2.8rem Cabin, Helvetica, sans-serif;
    color: #ccc;
}

.main a {
    font: 400 2rem Cabin, Helvetica, sans-serif;
    color: #739fcf;
    text-decoration: none;
    border-bottom: 0.1rem solid;
    padding: 0 0 0.1rem 0;
}

.main a:hover {
    color: #34e2e2;
}

.main abbr {
    cursor: help;
    text-decoration: none;
    border-bottom: 0.2rem dotted;
}

.main b {
    font-weight: 600;
}

.main blockquote {
    margin: 0 2rem;
    padding: 0rem 2rem;
    border-left: 1rem solid #404040;
    font-style: italic;
}

.main blockquote blockquote {
    margin: 0;
    border-left: 0.5rem solid #404040;
}

.main blockquote + p, .main p + blockquote {
    margin-top: 3rem;
}

.main cite {
    font-style: italic;
    font-size: 2.1rem;
}

.main code, .main samp, .main var {
    font: 400 1.5rem Hack, monospace;
    color: #ccc;
    background: #404040;
    margin: 0 0.2rem;
    padding: 0.2rem 0.4rem 0.1rem;
}

.main del {
    color: #404040;
    background: #000;
}

.main details {
    padding: 0 0 0 3rem;
}

.main summary {
    margin: 0 0 1rem -2.5rem;
    color: #739fcf;
    cursor: context-menu;
}

.main summary:hover {
    color: #34e2e2;
}

.main dfn {
    font-weight: 600;
    font-style: normal;
}

.main dl {
    margin: 2rem 0;
}

.main dt {
    margin: 1rem 0 0 0;
    font-weight: 600;
}

.main dd {
    margin: 0 0 1rem 4rem;
}

.main em, .main i {
    font-style: italic;
}

.main h1 {
    font: 400 4.5rem Cabin, Helvetica, sans-serif;
    color: #ccc;
    margin: 5rem 0 2rem;
}

.main h2 {
    font: 400 4rem Cabin, Helvetica, sans-serif;
    color: #ccc;
    margin: 5rem 0 2rem;
}

.main h3 {
    font: 600 3.2rem Cabin, Helvetica, sans-serif;
    color: #ccc;
    margin: 4.5rem 0 1.5rem;
}

.main h4 {
    font: 600 3rem Cabin, Helvetica, sans-serif;
    color: #ccc;
    margin: 3rem 0 1.5rem;
}

.main h5 {
    font: 600 2.8rem Cabin, Helvetica, sans-serif;
    color: #ccc;
    margin: 3rem 0 1.5rem;
}

.main h6 {
    font: 600 2.3rem Cabin, Helvetica, sans-serif;
    color: #ccc;
    margin: 3rem 0 1.5rem;
}

.main h1 + h2 {
    margin: 2rem 0;
}

.main h2 + h3, .main h3 + h4, .main h4 + h5, .main h5 + h6 {
    margin: 2rem 0 1.5rem;
}

.main hr {
    border: 0.1rem solid #555753;
    margin: 5rem auto;
}

.main img {
    border: 0;
    margin: 2rem 0;
}

.main mark {
    background: #c4a000;
    padding: 0.2rem 0.5rem;
}

.main ol {
    list-style-type: decimal;
    margin: 2rem;
}

.main ol li, .main ul li {
    padding: 0 0 0 0.5rem;
}

.main p {
    margin: 1.5rem 0;
}

.main pre {
    font: 400 1.5rem Hack, monospace;
    color: #ccc;
    margin: 3rem 0;
    padding: 2rem;
    background: #404040;
    word-wrap: break-word;
    overflow: auto;
}

.main s {
    text-decoration: line-through;
}

.main small {
    font-size: 1.5rem;
}

.main strong {
    font-weight: 600;
    font-size: 2.1rem;
}

.main sub, .main sup {
    font-size: 1.5rem;
}

.main table {
    margin: 3rem 0;
    border-collapse: collapse;
    overflow: auto;
}

.main td {
    padding: 0.5rem 0 0;
}

.main th {
    padding: 0 3rem 1rem 0;
}

.main tfoot, .main thead {
    font-weight: 600;
}

.main tbody {
    font-size: 1.8rem;
}

.main u {
    text-decoration: underline;
}

.main ul {
    list-style-type: disc;
    margin: 2rem 0 2rem 2rem;
}

.main ul li ul {
    list-style-type: circle;
    margin: 0.5rem 0 1rem 2rem;
}

.main figure, .main .figure {
    margin: 3rem 0;
}

.main figure img, .main .figure img {
    margin: 0;
}

.main figcaption, .main .caption {
    font: 400 1.5rem Cabin, Helvetica, sans-serif;
    color: #555;
    font-style: italic;
    margin: 0.5rem 0 1.5rem;
}

.main pre code {
    padding: 0;
}

.main thead, .main tr.header {
    text-align: left;
    border-bottom: 0.1rem solid #555753;
}

.main .footnotes li * {
    font-size: 1.8rem;
    line-height: 2rem;
}

.main .footnotes li a[href^="#fnref"] {
    padding: 0 0 0 0.5rem;
    border: 0;
}

.main a.footnoteRef {
    border: 0;
}

.main date.date--icon:before, .main time.time--icon:before {
    content: "🕒";
    margin: 0 0.5rem 0 0;
}

.main h1.main-title {
    font: 400 4.5rem Cabin, Helvetica, sans-serif;
    color: #c4a000;
    margin: 4rem 0 2rem;
}

.main strong.strong--double {
    font-size: 2.1rem;
    border-bottom: 0.5rem double;
}

.main strong.strong--em {
    font-size: 2.1rem;
    font-style: italic;
}

/** Add a media query to make adjustments for smaller screens **/
@media (max-width: 480px) {
    /* Scale overall font size */
    .default {
        font-size: 56.25%;
    }
    /* Decrease header title font size */
    .header-title__link {
        font: 400 12vw Cabin, Helvetica, sans-serif;
        color: #cc0000;
    }
    /* Increase nav link line height */
    .nav__link {
        font: 400 2.2rem/3.2rem Cabin, Helvetica, sans-serif;
        color: #d3d7cf;
    }
    /* Scale footer top margin to viewport width */
    .footer {
        margin: 15vw auto 3rem;
    }
    /* Scale heading font sizes */
    .main h1 {
        font-size: 11vw;
    }
    .main h2 {
        font-size: 10vw;
    }
    .main h3 {
        font-size: 9vw;
    }
    .main h4 {
        font-size: 8.5vw;
    }
    .main h5 {
        font-size: 8vw;
    }
    .main h6 {
        font-size: 7.5vw;
    }
    .main h1.main-title {
        font-size: 11vw;
        margin: 4rem 0 0.5rem;
    }
}
